@import '../../../node_modules/bootstrap/scss/bootstrap.scss';

@font-face {
    font-family: cairo;
    src: url(../../assests/fonts/Cairo/Cairo-Black.ttf);
    font-weight: bold;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
