@import 'main';

#main {
    header {
        position: relative;
        flex-direction: row;
        height: 100vh;
        padding: .5rem 1.2rem;
        padding-top: 60px;
        background-image: url("../../assests/img/header.jpg");
        background-repeat: no-repeat;
        background-position: 35%;
        background-size: cover;
        .container {
            h2 {
                animation: fade-top 3s backwards;
            }
            .head-text{
                height: 70%;
                p {
                    width: 50%;
                    position: absolute;
                    line-height: 35px;
                    font-weight: bold;
                    margin-top: auto;
                    margin-bottom: auto;
                    transition: .25s;
                    animation: fade-left 2s 1s backwards;
                }
    
            }
        }
    }
    @media (max-width:750px) {
        header {
            .container {
                p {
                    font-size: small;
                    line-height: normal;
                    width: 58%;
                    margin-top: 1rem;
                    padding-right: 0 !important;
                }
            }
        }
    }
}

// standard animations

@keyframes fade-left {
    from {
        opacity: 0;
        margin-right: -50px;
    } to {
        opacity: 1;
        margin-right: 16;
    }
}

@keyframes fade-right {
    from {
        opacity: 0;
        margin-left: -50px;
    } to {
        opacity: 1;
        margin-left: 16;
    }
}

@keyframes fade-top {
    from {
        opacity: 0;
        margin-bottom: -50px;
    } to {
        opacity: 1;
        margin-bottom: 16;
    }
}

@keyframes fade-bottom {
    from {
        opacity: 0;
        margin-top: -50px;
    } to {
        opacity: 1;
        margin-top: 16;
    }
}